body{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  background-color: rgba(74, 101, 236,0.1);
}

#calculator-box{
  border: 2px solid rgba(255, 21, 0, 0.69);;
  width: 400px;
  height: 1fr;

  padding: 5px;
}

#display {
  border: 2px solid rgba(37, 188, 37, 0.69);
  height: 90px;
  width: 1fr;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

#calculator-components{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  height: 400px;
  margin-top: 5px;
}

#clear {
  grid-column: span 2;

  background-color: rgba(255, 21, 0, 0.69);

  transition: all ease-in-out 0.1s;
}

#clear:hover {
  box-shadow: 0 0 70px 5px rgba(255,21,0, 0.8) inset;
  background-color: white;
  border: 1px solid rgba(255, 21, 0, 0.69);
}

#zero {
  grid-column: span 2;
}

#equals{
  grid-row: span 2;

  background-color: #006ee8;

  transition: all ease-in-out 0.1s;
}

#equals:hover{
  box-shadow: 0 0 70px 5px rgba(0,110,232,0.8) inset;
  background-color: white;
  border: 1px solid rgba(0,110,232,0.8);
}

.components{
  border: 1px solid #4a65ec;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: ease-in-out 0.1s;
}

.components:hover{
  box-shadow: 0 0 40px 5px rgb(74,101,236) inset;
  background-color: white;
}

.components:active {
  box-shadow: 0 0 32px 5px rgb(74,101,236) inset;
  transform: translate(1px, 1px);
}