$primary-color: white;

body {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  border: 10px solid black;
}


#quote-box {
  width: 500px;
  height: 300px;
  border: 2px solid red;
}
